<!DOCTYPE html>
<html>
  <head>
    <title>Mountain Surfing</title>
     <link rel="shortcut icon" type="image/png" href="https://i1.wp.com/metrosystems.co.zw/wp-content/uploads/2015/11/cropped-MS-Favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4vMSwShCKGMW1HC7qDr2Oza674_8zIw&libraries=places"%>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.CLOUDINARY_OPTIONS = {
        cloud_name: "<%= ENV['CLOUD_NAME'] %>",
        upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
      }
    </script>
  </head>
  <body>

    <%= yield %>

  </body>
  <footer>Welcome to Mountainsurfing International, Inc. All copy rights reserved. Please contact us for more information and send us feedbacks</footer>
</html>
